# Environnement Python
.venv/
__pycache__/
*.pyc
*.pyo

# Données (trop lourdes pour Git)
data/raw/
data/public/
data/processed/
data/public/CIC/*

# Garder la structure des dossiers vides
!data/.gitkeep
!data/raw/.gitkeep
!data/public/.gitkeep
!data/processed/.gitkeep

# Fichiers générés
*.joblib
*.bz2
*.pdf

# OS
.DS_Store
Thumbs.db
